$primary-color: #ffd700;

.logo-container {
    z-index: -1;
    width: 600px;
    height: 800px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;
    margin-top: 60px;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        z-index: -1;
        transform: rotateZ(30deg) !important;

        .cls-1 {
            fill: none;
            stroke: $primary-color;
            opacity: 0.35;
            stroke-miterlimit: 10;
            stroke-width: 0.25px;
        }
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(30deg);
        z-index: 1;
    }
}

.svg-container {
    stroke: $primary-color;
    stroke-width: 10px;
}
